body {
  height: 98vh;
  font-family: 'Montserrat', sans-serif;
}

main {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  color: white;
}

.box {
  height: 100%;
  background-color: #999;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-row: span 1;
  grid-column: span 1;
}

.three {
  grid-column: span 2;
}

.two {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;

}

.subbox{
  background-color: cadetblue;
}


