body {
}

h1 {
  font-family: "EB Garamond", serif;
  size: 40px;
  color: #666666;
}
h2 {
  font-family: "Trirong", serif;
  font-size: 24px;
  color: #434343;
}

p {
  font-family: "Trirong, serif";
  line-height: 1.5;
  size: 16px;
  color: #434343;
}

nav {
  font-size: 18px;
  color: #434343;
}
li {
  font-size: 14 px;
  color: #434343;
}

a {
  color: #666666;
}

img {
  width: 150px;
}

main {
  padding: 10px;
}

aside {
  border-width: 2px;
  color: #d9d9d9;
  margin: 0 auto;
}
