body {
  background: blue;
  padding: 10px;
}

h1{
  font-size: 30px;
  margin-bottom: 15px;
}

p {
  margin-bottom: 7px;
}

@media only screen and (min-width: 600px) {
  body {
    background: salmon;
  }
}